body{
    background-color: #000000de;
    color: white;
}
ul{

    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    background-color: whitesmoke;
}
.li{
    margin: 20px;
    color: black;
    text-decoration: none;
}
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    color: white;
    text-decoration: none;
    cursor: pointer; 
}
